body {
    margin: 0;
    padding: 0;
}

.ant-table-body {
    overflow: auto;
    max-height: calc(100vh - 16px);
}

.active-row {
    background-color: #aee5ff;
    cursor: pointer;
}

.non-active {
    cursor: pointer;
}